@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}


html, body {
    width: 100vw;
    height: 100vh;
}   



.main-form {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.main-form form > h1 {
    color: #fff;
    text-align: center;
}

.main-form form {
    background-color: #1c1919;
    margin-top: 40px;
    margin-bottom: 35px;
    padding: 15px;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    border: solid 2px #fff;
    height: auto;
    overflow-y: hidden;
}

.main-form form input[type='text'] {
    width: 100%;
    margin-top: 20px;
    background-color: #1c1919;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 4px;
}

.main-form form input[type='text']::placeholder {
    color: #fff;
}

.main-form form input[type='text']:focus {
    outline: none;
}

.main-form form input[type='email'] {
    width: 100%;
    margin-top: 20px;
    background-color: #1c1919;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 4px;
}

.main-form form input[type='email']::placeholder {
    color: #fff;
}

.main-form form input[type='email']:focus {
    outline: none;
}

.btn-form {
    width: 100%;
    margin-top: 30px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #1c1919;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all .3s ease-in-out 0s;
}

.btn-form:hover {
    cursor: pointer;
    background-color: #1c1919;
    color: #fff;
    border: 2px solid #fff;
}

.arquivo {
    color: #fff;
    margin-top: 25px;
}
