@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}


html, body {
    width: 100vw;
    height: 100vh;
    
}   


body {
    background-color: #1c1c1c;
}


header {
    width: 100vw;
    height: 90px;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 0px 20px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


nav {
    width: 100%;
    padding: 0px 15px;
    /* background-color: red; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 645px){
    
    header {
        width: 100vw;
        height: 90px;
        padding: 0px 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* padding: 0px 20px; */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: purple; */
    }

}


.logo {
    height: 70px;
}


.menu {
    height: 30px;
    cursor: pointer;
    display: block;
    margin-right: 15px;
}

.cadastro {
    font-size: 1rem;
    border: 3px solid #fff;
    padding: 7px;
    border-radius: 25px;
    transition: all .3s ease 0s;
}

.cadastro:hover{
    background-color: #fff;
    color: #1c1c1c;
    cursor: pointer;
}

.cadastro:hover > a {
    color: #1c1c1c;
}

@media screen and (min-width: 645px) {
    .menu {
        display: none;
    }
}


ul {
    display: none;

}


@media screen and (min-width: 645px){
    
    ul {
        display: flex;
        align-items: center;
        gap: 35px;
    }

}


li {
    list-style: none;

}


a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

@media screen and (min-width: 700px) {
    
    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        /* background-color: aqua; */
    }

}

main {
    width: 100vw;

}

.maps {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.maps iframe {
    width: 100%;
}